@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "Playfair Display";
  src: url("../src/font/PlayfairDisplay-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  line-height: 1px;
  font-family: "Montserrat";
  src: url("../src/font/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Montserrat";
  font-size: 16px;
  display: flex;
  flex-direction: column;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 36px;
  font-family: "Playfair Display";
}
h3 {
  font-size: 24px;
  font-family: "Playfair Display";
}
.font-montserrat {
  font-family: "Montserrat";
}
.animation-scale {
  @apply hover:scale-115 transition duration-150 ease-in-out;
}
.inputs-text {
  border: solid 1px black;
  border-radius: 8px;
  padding: 4px;
  width: 500px;
  height: 45px;
  padding: 10px;
}
.button-primary {
  background-color: #990000;
  color: white;
  border-radius: 8px;
  height: 45px;
}
.button-secundary {
  background-color: black;
  color: white;
  border-radius: 8px;
  height: 45px;
}
/*Style formregistro*/
/* * {
  padding: 0;
  box-sizing: border-box;
} */

.form-registro {
  background: #ffffff;

  margin-top: 25px;
  border-radius: 4px;
  color: black;
}

.form-registro h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;

  border: 1px solid #000000;
  font-size: 18px;
  color: #000000;
}

::placeholder {
  color: #000000;
}

.button {
  color: #ffffff;
  background-color: #990000;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  width: 200px;
  margin-left: 33%;
}

.titulo_pagina {
  color: #000000;
  font-size: 36px;
  border-bottom: #000000 1px solid;
}

#calendario {
  width: 600px;
  margin: 40px auto;
  flex-wrap: 1;
}