/* Viewport en pantallas menores a 850px */
@media (max-width: 850px) {
  /* General */
  body {
    font-size: 14px;
  }
  main {
    margin-top: 20%;
  }
  h3 {
    font-size: 22px;
  }
  /* Proximos eventos */
  #calendario {
    display: flex;
  }
  .gestion-reservas-contenedor-date{
    width: 60%;
  }
  /* Gestión reservas */
  .titulo-gestion-reservas{
    width: 650px;
  }
  .gestion-reservas-contenedor-time {
    width: 89px;
  }
  /* Footer */
  .contenedor-logo-footer {
    display: flex;
    visibility: hidden;
  }
  .contenedor-contacto-redes-footer {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .contenedor-contacto,
  .contenedor-redes,
  .contenedor-svg,
  .contenedor-svg {
    align-items: center;
    margin-left: 0;
    text-align: center;
    justify-content: center;
  }
  .contenedor-contacto-redes-footer {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .contenedor-logo-footer {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }
}
@media (max-width: 640px) {
  /* Gestión reservas */
  .titulo-gestion-reservas{
    width: 600px;
  }
  .gestion-reservas-contenedor-time {
    width: 89px;
  }

}
/* Viewport en pantallas menores a 450px */
@media (max-width: 550px) {
  /* General */
  body {
    font-size: 12px;
  }
  main {
    margin-top: 10%;
  }
  h3 {
    font-size: 16px;
  }
  /* Gestión reservas */
  .titulo-gestion-reservas{
    width: 300px;
  }
  .gestion-reservas-contenedor-date{
    width: 140px;
  }
  .gestion-reservas-contenedor-time {
    width: 80px;
  }
  /* Footer */
  .contenedor-logo-footer {
    display: flex;
    visibility: hidden;
  }
  .contenedor-contacto-redes-footer {
    flex-direction: column-reverse;
    gap: 1rem;
  }
  .contenedor-contacto,
  .contenedor-redes,
  .contenedor-svg,
  .contenedor-svg {
    align-items: center;
    margin-left: 0;
    text-align: center;
    justify-content: center;
  }
  .contenedor-contacto-redes-footer {
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
