@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    /* Color primario */
    --color-primario: #990000;
    --color-primario-hover: #b30000;
    --color-primario-active: #8a0101;

    /* Color secundario */
    --color-secundario: #000000;
    --color-secundario-hover: #282828;
    --color-secundario-active: #141414;

    --color-eventos: rgba(225, 177, 44, 0.2);

    /* Color general blanco */
    --color-general: #ffffff;

    --texto-filtros: 1.15rem;
}
.texto-filtros {
    font-size: var(--texto-filtros);
}
/* Para ocultar el elemento hasta que se evalúe el x-show de Alpine (View Gestion-salas) */
[x-cloak] {
    display: none !important;
}

.svg-home-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5;
    width: 35px;
    height: 32px;
    color: var(--color-secundario);
    border-radius: 50%;
    transition: background-color 0.3s ease, transform 0.15s ease-in-out;
}

.svg-home-navbar:hover {
    background-color: var(--color-eventos);
    /* transform: scale(1.05); */
    transition: transform 0.2s ease-in-out;
}
.svg-botones {
    width: 18px;
    height: 18px;
    color: var(--color-general);
}
@font-face {
    font-family: "Playfair Display";
    src: url("../font/PlayfairDisplay-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    line-height: 1px;
    font-family: "Montserrat";
    src: url("../font/Montserrat-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
nav {
    height: 53px;
    z-index: 50;
    top: 0;
    background-color: rgba(229, 231, 235, 0.3);
    backdrop-filter: blur(20px);
    border-radius: 0 0 1rem 1rem;
}
.list-style-circle::before {
    content: "•";
    color: var(--color-primario);
    margin-right: 0.8rem;
}

/* Main ocupe todo el espacio y empuje al Footer hacia abajo */
main {
    flex: 1;
    margin-top: 0%;
}
/* FOOTER */
footer {
    padding-inline: 3rem;
    padding-block: 0.8rem;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity, 1));
    border-top: 1px solid #d1d5dc;
}
/* Estilos titulos */
h1 {
    font-size: 36px;
    font-family: "Playfair Display";
}
h2 {
    font-size: 28px;
    font-family: "Playfair Display";
}
h3 {
    font-size: 20px;
    font-family: "Playfair Display";
}
h4 {
    font-size: 18px;
    font-family: "Playfair Display";
}
/*Nombre teatro resultado de salas*/
h5 {
    font-size: 20px;
    font-family: "Playfair Display";
    color: #990000;
}

.font-text {
    font-family: "Roboto";
    font-size: 1.15rem;
}

.home-texto-bienvenida {
    line-height: 1.6rem;
}
.home-img-bienvenida {
    margin-left: 12px;
    width: 400px;
    float: right;
}

.inputs-text {
    border-radius: 8px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
}
.inputs-text:hover {
    border-color: var(--color-secundario);
    box-shadow: 0 0 1.8px 0.2px var(--color-secundario);
}
.inputs-text-disabled {
    border: solid 1px var(--color-secundario);
    border-radius: 8px;
    padding: 4px;
    height: 35px;
    padding: 10px;
}
.inputs-filtros {
    border: 1px solid rgb(215, 215, 215);
    border-radius: 4px;
    padding: 4px;
    height: 30px;
    font-size: var(--texto-filtros);
}
.inputs-filtros:hover {
    border: 1px solid rgb(171, 171, 171);
}
.gestion-reservas-select {
    border: solid 1px var(--color-secundario);
    border-radius: 8px;
    height: 35px;
    padding-inline: 5px;
}
.gestion-reservas-select:hover {
    border-color: var(--color-secundario-hover);
    box-shadow: 0 0 1.8px 0.2px var(--color-secundario);
}
/* BOTONES */
/* BOTON PRIMARY */
.button-primary-auto {
    background-color: var(--color-primario);
    color: var(--color-general);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-primary-auto:hover {
    background-color: var(--color-primario-hover);
    box-shadow: 0px 0px 1.8px 0.2px var(--color-secundario);
}
.button-primary-auto:active {
    background-color: var(--color-primario-active);
    box-shadow: 0px 0px 2px 0.5px var(--color-secundario);
}
/* BOTON SECUNDARY */
.button-secundary-auto {
    background-color: var(--color-secundario);
    color: var(--color-general);
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 9px;
    padding-right: 9px;
    border: none;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-secundary-auto:hover {
    background-color: var(--color-secundario-hover);
    box-shadow: 0px 0px 1.8px 0.2px var(--color-secundario);
}
.button-secundary-auto:active {
    background-color: var(--color-secundario-active);
    box-shadow: 0px 0px 2px 0.5px var(--color-secundario);
}

.button-primary-login {
    color: var(--color-primario);
    background-color: var(--color-general);
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.5s ease, transform 0.5s ease;
}
.button-primary-login:hover {
    background-color: var(--color-primario);
    color: var(--color-general);
    /* transform: scale(1.05); */
    transition: transform 0.2s ease-in-out;
}
.button-primary-login:active {
    background-color: var(--color-primario-active);
}
.button-logout:active {
    -webkit-text-stroke-color: 0px 0px 1.8px 0.2px var(--color-secundario);
}
/* BOTON VER de NUEVAS RESERVAS */
.button-filtro-a-reserva {
    background-color: var(--color-primario);
    color: var(--color-general);
    padding: 10px;
    border: none;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-filtro-a-reserva:hover {
    background-color: var(--color-primario-hover);
    box-shadow: 0px 0px 1.8px 0.2px var(--color-secundario);
}
.button-filtro-a-reserva:active {
    background-color: var(--color-primario-active);
    box-shadow: 0px 0px 2px 0.5px var(--color-secundario);
}
/* BOTON para ir a editar la sala */
.button-filtro-a-editar-sala {
    background-color: var(--color-secundario);
    color: var(--color-general);
    padding: 10px;
    border: none;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-filtro-a-editar-sala:hover {
    background-color: var(--color-secundario-hover);
    box-shadow: 0px 0px 1.8px 0.2px var(--color-secundario);
}
.button-filtro-a-editar-sala:active {
    background-color: var(--color-secundario-active);
    box-shadow: 0px 0px 2px 0.5px var(--color-secundario);
}
/* BOTON para volver de reserva a filtro */
.button-reserva-a-filtro {
    background-color: var(--color-secundario);
    color: var(--color-general);
    padding: 10px;
    border: none;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-reserva-a-filtro:hover {
    background-color: var(--color-secundario-hover);
    box-shadow: 0px 0px 1.8px 0.2px var(--color-secundario);
}
.button-reserva-a-filtro:active {
    background-color: var(--color-secundario-active);
    box-shadow: 0px 0px 2px 0.5px var(--color-secundario);
}
.button-confirmar-reserva {
    background-color: var(--color-primario);
    color: var(--color-general);
    padding: 10px;
    border: none;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}
.button-confirmar-reserva:hover {
    background-color: var(--color-primario-hover);
    box-shadow: 0px 0px 1.8px 0.2px var(--color-secundario);
}
.button-confirmar-reserva:active {
    background-color: var(--color-primario-active);
    box-shadow: 0px 0px 2px 0.5px var(--color-secundario);
}
/* FORMULARIO DE REGISTRO EN FORM-REGISTRO */
.form-registro {
    background: var(--color-general);
    margin-top: 45px;
    border-radius: 4px;
    color: var(--color-secundario);
}

.form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    background: var(--color-general);
    padding: 10px;
    border-radius: 4px;

    border: 1px solid var(--color-secundario);
    font-size: 16px;
    color: var(--color-secundario);
}

::placeholder {
    color: var(--color-secundario);
}

.button {
    color: var(--color-general);
    background-color: var(--color-primario);
    align-items: center;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin-left: 33%;
}

.titulo_pagina {
    border-bottom: var(--color-secundario) 1px solid;
}

/* Gestión reservas */
.titulo-main {
    border-bottom: gray solid 1px;
    width: 800px;
    margin-bottom: 20px;
}
.gestion-reservas-contenedor-time {
    width: 89px;
}

#svg-flecha-a-izquierda {
    transform: rotate(180deg) !important;
}

.svg-redes {
    color: var(--color-primario);
    width: 25px;
}
.svg-redes:hover {
    transform: scale(1.15); /* Escala al 115% */
    transition: transform 0.15s ease-in-out;
}
/*Modificar sala*/
.slider {
    -webkit-appearance: none;
    background-color: var(--color-primario);
    border-radius: 10px;
    border: var(--color-secundario);
    border-width: 3px;
    padding: 2px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: var(--color-secundario);
    cursor: pointer;
    border: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
    transition: background 0.3s;
}
/* PROXIMOS-EVENTOS */
#calendario {
    width: 90%;
    margin: 20px auto; /* Centrar el calendario */
}

/* RESPONSIVE */
/* Viewport en pantallas menores a 850px */
@media (max-width: 850px) {
    /* General */
    body {
        font-size: 14px;
    }
    main {
        margin-top: 0%;
    }
    h3 {
        font-size: 22px;
    }
    /* Home */
    .home-texto-bienvenida {
        line-height: 1.6rem;
    }
    /* Proximos eventos */
    #calendario {
        display: flex;
    }
    .gestion-reservas-contenedor-date {
        width: 60%;
    }
    /* Gestión reservas */
    .titulo-main {
        width: 650px;
    }
    .gestion-reservas-contenedor-time {
        width: 89px;
    }
    /* Footer */
    .contenedor-logo-footer {
        display: flex;
        visibility: hidden;
    }
    .contenedor-contacto,
    .contenedor-redes,
    .contenedor-svg,
    .contenedor-svg {
        align-items: center;
        margin-left: 0;
        text-align: center;
        justify-content: center;
    }
    .contenedor-contacto-redes-footer {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
    .contenedor-logo-footer {
        transition: opacity 0.2s ease-in-out;
        opacity: 0;
    }
}

/* Viewport en pantallas menores a 640px */
@media (max-width: 640px) {
    /* Home */
    .home-texto-bienvenida {
        line-height: 1.6rem;
    }
    .home-img-bienvenida {
        width: 250px;
        float: right;
    }
    /* Gestión reservas */
    .titulo-main {
        width: 600px;
    }
    .gestion-reservas-contenedor-time {
        width: 89px;
    }
}
/* Viewport en pantallas menores a 550px */
@media (max-width: 550px) {
    /* General */
    body {
        font-size: 12px;
    }
    /* main {
        margin-top: 30%;
        margin-bottom: 30%;
    } */
    h1 {
        font-size: 24px;
    }
    h3 {
        font-size: 16px;
    }
    h2 {
        font-size: 20px;
    }
    /* Home */
    .home-texto-bienvenida {
        min-width: 280px;
        line-height: 1.6rem;
    }
    .home-img-bienvenida {
        width: 150px;
        float: right;
    }
    /* Gestión reservas */
    .titulo-main {
        width: 300px;
    }
    .gestion-reservas-contenedor-date {
        width: 140px;
    }
    .gestion-reservas-contenedor-time {
        width: 80px;
    }

    /* Footer */
    /* Contiene a todo el contenido del footer */
    .contenedor-contacto-redes-footer {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
    }
    .contenedor-logo-footer {
        display: flex;
        visibility: hidden;
    }
    .contenedor-contacto,
    .contenedor-redes,
    .contenedor-svg,
    .contenedor-svg {
        align-items: center;
        margin-left: 0;
        text-align: center;
        justify-content: center;
    }
}
